<div class="px-5 mt-5">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="fw-bold">Meus Projetos</h1>
        <a class="btn btn-dark" href="project/create">Criar projeto</a>
    </div>

  
    <div class="mt-5 list-project-card">
        <div *ngIf="ProjectList == undefined" class="text-secondary">Carregando...</div>
        <div *ngFor="let project of ProjectList;" class="card project-card">
            <h1>{{project.name}}</h1>
            <p>Orçamento: <span>{{project.budget}}</span></p>
            <p>{{project.category}}</p>
            <div>
                <a href="">Gerenciar</a>
                <a href="">Excluir</a>
            </div>
        </div>

        <!-- <div class="card project-card">
            <h1>Desenvolvimento do novo site</h1>
            <p>Orçamento: <span>R$3000</span></p>
            <p>Desenvolvimento</p>
            <div>
                <a href="">Gerenciar</a>
                <a href="">Excluir</a>
            </div>
        </div>
        <div class="card project-card">
            <h1>Desenvolvimento do novo site</h1>
            <p>Orçamento: <span>R$3000</span></p>
            <p>Desenvolvimento</p>
            <div>
                <a href="">Gerenciar</a>
                <a href="">Excluir</a>
            </div>
        </div>
        <div class="card project-card">
            <h1>Desenvolvimento do novo site</h1>
            <p>Orçamento: <span>R$3000</span></p>
            <p>Desenvolvimento</p>
            <div>
                <a href="">Gerenciar</a>
                <a href="">Excluir</a>
            </div>
        </div>
        <div class="card project-card">
            <h1>Desenvolvimento do novo site</h1>
            <p>Orçamento: <span>R$3000</span></p>
            <p>Desenvolvimento</p>
            <div>
                <a href="">Gerenciar</a>
                <a href="">Excluir</a>
            </div>
        </div> -->
    </div>
</div>