.div-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    position: relative;
    background-color: rgb(240, 240, 235);

    .div-container-center {
        height: auto;
        padding-bottom: 150px;
        background-color: rgb(240, 240, 235);
    }
}