.div-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    position: relative;

    .div-container-center {
        height: auto;
        padding-bottom: 150px;
    }
}