<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 m-auto">
            <h1 class="fw-bold">Criar Projeto</h1>
            <p class="text-secondary">Crie seu projeto para depois adicionar os serviços.</p>
            <form action="">
                <div class="form-group mt-2">
                    <label for="project-name">Nome do projeto:</label>
                    <input placeholder="Insira o nome do projeto" id="project-name" class="form-control"/>
                </div>
                <div class="form-group mt-2">
                    <label for="project-budget">Orçamento do projeto:</label>
                    <input type="number" placeholder="Insira o orçamento do projeto" id="project-budget" class="form-control"/>
                </div>
                <div class="form-group mt-2">
                    <label for="category">Selecione a categoria:</label>
                    <select class="form-select" id="category">
                        <option value="">Selecione uma opção</option>
                        <option value="">Infra</option>
                        <option value="">Desenvolvimento</option>
                        <option value="">Design</option>
                        <option value="">Planejamento</option>
                    </select>
                </div>

                <button class="btn btn-dark mt-2" type="submit">Criar</button>
            </form>
        </div>
    </div>
</div>