<div class="div-manage">
    <div>
        <h1>Projeto: {{project.name}}</h1>
        <button (click)="ToggleEditProjectForms()" class="btn btn-dark">{{toggleEditProjectForms ? "Fechar" : "Editar Projeto"}}</button>
    </div>

    <div *ngIf="!toggleEditProjectForms">
        <p>Categoria: <span>{{project.category}}</span></p>
        <p>Total do orçamento: <span>R${{project.budget}}</span></p>
        <p>Total utilizado: <span>R$0</span></p>
    </div>

    <div *ngIf="toggleEditProjectForms">
        <app-edit></app-edit>
    </div>

    <br>
    <hr>

    <div class="add-service-header">
        <h1>Adicione um serviço:</h1>
        <button (click)="ToggleServiceForms()" class="btn btn-dark">{{toggleServiceForms ? "Fechar" : "Adicionar Serviço"}}</button>
    </div>

    <div *ngIf="toggleServiceForms">
        <app-create-service></app-create-service>
    </div>

    <br>
    <hr>

    <div>
        <h1>Serviços:</h1>

        <div class="servicos-cards mt-3">
            <div class="servico-card-item card">
                <h1>Contratar um Scrum Master</h1>
                <p>Custo total: <span>R$2000</span></p>
                <p>O Scrum Master vai liderar a implantação do Jira.</p>
                <button class="btn btn-dark">Excluir</button>
            </div>
            <div class="servico-card-item card">
                <h1>Contratar um Scrum Master</h1>
                <p>Custo total: <span>R$2000</span></p>
                <p>O Scrum Master vai liderar a implantação do Jira.</p>
                <button class="btn btn-dark">Excluir</button>
            </div>
            <div class="servico-card-item card">
                <h1>Contratar um Scrum Master</h1>
                <p>Custo total: <span>R$2000</span></p>
                <p>O Scrum Master vai liderar a implantação do Jira.</p>
                <button class="btn btn-dark">Excluir</button>
            </div>
        </div>
    </div>
</div>