.div-manage {
    padding: 30px 100px;

    >div:nth-child(1) {
        display: flex;
        justify-content: space-between;
        align-items: center;

        >h1 {
            background-color: rgb(34, 33, 33);
            color: rgb(212, 157, 38);
            padding: 15px;
            font-weight: bold;
        }
    }

    >div:nth-child(2) {
        margin-top: 10px;

        >p {
            color: rgb(94, 94, 94);
            font-weight: bold;
            margin-bottom: 10px;
            >span {
                color: gray;
                font-weight: normal;
            }
        }
    }

    >div:nth-child(5) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.servicos-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.servico-card-item {
    padding: 15px;
    width: 300px;

    >h1 {
        color: rgb(212, 157, 38);
        background-color: rgb(34, 33, 33);
        font-weight: bold;
        font-size: 24px;
        padding: 10px;
    }

    >p:nth-child(2) {
        color: rgb(97, 97, 97);
        font-weight: bold;
        margin-top: 15px;

        >span {
            font-weight: normal;
        }
    }

    >p:nth-child(3) {
        color: rgb(97, 97, 97);
    }
}